<!DOCTYPE html>
<head>
	<title>Programming can be fun</title>
	<meta name = 'viewport' content = 'width=device-width'/>
</head>
<style>
:root{
	--color: #103;
	--direction: center;
	--distance: 15;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
html{
	scroll-behavior: smooth;
}
body{
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	background: hsl(130,20%,10%);
	font-size: clamp(19px,1.7vw,22px);
	font-family: sans-serif;
	background: #eee;
	padding: 2rem;
	gap: 10px;
}
.box{
	padding: 30px 30px 50px;
	width: min(100%,600px);
	box-shadow: 1px 1px 2px rgba(0,0,0,.1),
				-1px -1px 2px rgba(55,55,55,.3);	
	background: radial-gradient(#fffa, transparent 90%) top left / 200% 200%;
	margin-top: 4em;
}
.box:focus-within h2{
	letter-spacing: .1em;
}
hr{
	border: 1px solid #fff;
}
legend{
	text-align: var(--direction);
	padding: 0 calc(1px * var(--distance));
	font-size: 1.5rem;
	letter-spacing: .04em;
	color: var(--color);
}
fieldset{
	border: none;
	border-top: 1px solid var(--color);
	padding: 10px 0;
}
hr{
	display: block;
	margin: 0 0 2rem;
	border-color: var(--color);
}
.box form div{
	margin: 0 0 2rem 0;
}
h2{
	color: var(--color);
	padding: 0 0 25px;
	text-align: center;
	text-decoration: underline;
	transition: all .1s;
}
.box form div label{
	display: block;
	padding: 0 0 8px;
	color: var(--color);
	letter-spacing: .04em;
}
.box form div input{
	outline: none;
	border: none;
	background: none;
	width: 100%;
	padding: 15px;
	font-size: 1rem;
	color: #000;
	font-weight: bold;
	letter-spacing: .08em;
	box-shadow: inset 1px 1px 2px rgba(0,0,0,.4),
				inset -1px -1px 2px rgba(55,55,55,.3);	
}
.box form div input::placeholder{
	color: var(--color);
	opacity: .6;
	letter-spacing: .04em;
}
button{
	outline: none;
	border: none;
	width: 100%;
	padding: 15px;
	font-size: 1.1rem;
	letter-spacing: .1em;
	margin-top: 3%;
	transition: all .1s;
	color: #fff;
	background: none;
	color: var(--color);
	box-shadow: 1px 1px 2px rgba(0,0,0,.6),
				-1px -1px 2px rgba(55,55,55,.7);	
	color: #fff;
	background: #101;
}
button:active{
	transform: scale(.9);
}
nav{
	background: linear-gradient(90deg, #ffe9 20%, #fff 50%,#002 100%);
	position: fixed;
	top: 0;
	width: 100%;
	padding: 5px;
}
nav ul{
	display: flex;
}
nav ul li a{
	padding: 20px 0;
	display: block;
	color: #000;
	text-align: center;
}
nav ul li{
	/* background: orange; */
	flex: 0 0 calc(100% / 9);
	letter-spacing: .03em;
}
nav ul li a:hover{
	background: #002;
	color: #fff;
}
.wrapper{
	width: min(100%,1200px);
	margin: 0 auto;
}

</style>
<html>
<body>
	<%- include("../Partials/header.ejs"); -%>	
	<div class = 'box'>
		<form>
			<h2>Add Election</h2>
			<fieldset>
				<legend>Details</legend>
			</fieldset>
			<div>
				<label>Title</label>
				<input type = 'text' name = 'title' placeholder = 'Enter title here' required = ''/>
			</div> 
			<div>
				<label>Position</label>
				<input type = 'text' name = 'position' placeholder = 'Enter position here' required = ''/>
			</div> 
			<div>
				<label>Closing Date</label>
				<input type = 'date' name = 'closingdate' placeholder = 'Enter closing date here' required = ''/>
			</div> 
			<button>Add</button>
	</div>
</body>
<script defer = "">
	let form = document.forms[0];
	form.addEventListener('submit',async (e) => {
		e.preventDefault();
		try{
			const response = await fetch("/add_election",{
				method: "POST",
				body: JSON.stringify({
						title: form.title.value,
						position: form.position.value,
						closingdate: form.closingdate.value
					}),
				headers: {"Content-Type": "application/json"}
			});
			const data = await response.json();
			if(response.ok){
				alert("Election added succesfully");
			}else{
				throw Error();
			}
			console.log(data);
		}catch(err){
			console.log(err.message);
			alert("That Election already Exists");
		}
	})
</script>
</html>