	<nav>
		<div class = 'wrapper'>
			<ul>
				<li><a href = '/'>Home</a></li>
				<li><a href = '/elections'>Elections</a></li>
				<li><a href = '/login'>Login</a></li>
			</ul>
		</div>
	</nav>
