	<nav>
		<div class = 'wrapper'>
			<ul>
				<li><a href = '/add_candidate'>Candidate</a></li>
				<li><a href = '/add_voter'>Voter</a></li>
				<li><a href = '/add_party'>Party</a></li>
				<li><a href = '/add_elections'>Election +</a></li>
				<li><a href = '/all_elections'>Elections</a></li>
				<li><a href = '/admin'>Login</a></li>
			</ul>
		</div>
	</nav>
